/* montserrat-regular - latin */

@font-face
{
    font-family: "Droid Serif";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("../fonts/DroidSerif-Regular.woff") format("woff"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face
{
    font-family: "PingFang SC";
    font-style: normal;
    font-weight: 400;
    src: local(""),
		url("../fonts/PingFang-SC-Regular.woff") format("woff");
}

/* montserrat-600 - latin */

@font-face
{
    font-family: "Droid Serif";
    font-style: normal;
    font-weight: 600;
    src: local(""),
        url("../fonts/DroidSerif-Bold.woff") format("woff"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face
{
    font-family: "PingFang SC";
    font-style: normal;
    font-weight: 600;
    src: local(""),
		url("../fonts/PingFang-SC-Bold.woff") format("woff");
}

/* montserrat-italic - latin */

@font-face
{
    font-family: "Droid Serif";
    font-style: italic;
    font-weight: 400;
    src: local(""),
        url("../fonts/DroidSerif-Italic.woff") format("woff"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face
{
    font-family: "PingFang SC";
    font-style: italic;
    font-weight: 400;
    src: local(""),
        url("../fonts/PingFang-SC-Light.woff") format("woff"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* montserrat-600italic - latin */

@font-face
{
    font-family: "Droid Serif";
    font-style: italic;
    font-weight: 600;
    src: local(""),
        url("../fonts/DroidSerif-BoldItalic.woff") format("woff"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face
{
    font-family: "PingFang SC";
    font-style: italic;
    font-weight: 600;
    src: local(""),
        url("../fonts/NotoSerifSC-Regular.woff") format("woff"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}